doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Apptech
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', type='image/x-icon', href='img/favicon.ico')
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(rel='stylesheet', href='css/material-design-iconic-font.min.css')
        link(rel='stylesheet', href='css/magnific-popup.css')
        link(rel='stylesheet', href='css/venobox.css')
        link(rel='stylesheet', href='css/meanmenu.min.css')
        link(rel='stylesheet', href='css/slick.css')
        link(rel='stylesheet', href='css/owl.carousel.css')
        link(rel='stylesheet', href='css/owl.theme.css')
        link(rel='stylesheet', href='css/owl.transitions.css')
        link(rel='stylesheet', href='css/animate.css')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='css/responsive.css')
        link(rel='stylesheet', href='css/color/color-1.css')
        script(src='js/vendor/modernizr-2.8.3.min.js')
    body
        //if lt IE 8
          p.browserupgrade
            | You are using an
            strong outdated
            |  browser. Please
            a(href='http://browsehappy.com/') upgrade your browser
            |  to improve your experience.
        .wrapper
            header.header-area
                #main-menu.sticker
                    .container
                        .row
                            .col-md-12
                                .logo.float-left
                                    a(href='index.html')
                                        img(src='img/logo/logo.png', alt='logo')
                                .main-menu.float-right
                                    nav
                                        ul
                                            li
                                                a(href='#') 1 BTC = $1,147.93
                                            li.active
                                                a(href='#home-area') HOME
                                            li
                                                a(href='#product-area') Product
                                            li
                                                a(href='#signup-area') Sign Up
                                            li
                                                a(href='#') Sign In
                                            li
                                                a(href='#')
                                                    img(src='img/th.png')
                            .col-md-12.col-sm-12.hidden-lg.hidden-md
                                .mobile-menu
                                    nav
                                        ul
                                            li
                                                a(href='#') 1 BTC = $1,147.93
                                            li.active
                                                a(href='#home-area') HOME
                                            li
                                                a(href='#about-area') Product
                                            li
                                                a(href='#support-area') Sign Up
                                            li
                                                a(href='#pricing-area') Sign In
                                            li
                                                a(href='#')
                                                    img(src='img/th.png')
            #home-area.bg-oapcity-40.bg-overly.sm-height-none(style='height: 97px')
            .customer-head
                h1 MERCHANTS &amp; PARTNERS
            #nav.subnav
                ul.nav
                    li
                        a.nav-overview(href='/merchants') Overview
                    li
                        a.nav-clients.active(href='/clients') Customers
                    li
                        a(href='https://developers.coinbase.com/docs/merchants') API Documentation
            .container.space-top
                .feature-title.title-style.title-pb.text-center
                    h1 TRUSTED BY OVER 45,000 BUSINESSES
                .row
                    .col-md-2.col-xs-6.single-item2
                        a(href='#')
                            img(src='img/logo-slider/2.png')
                    .col-md-2.col-xs-6.single-item2
                        a(href='#')
                            img(src='img/logo-slider/2.png')
                    .col-md-2.col-xs-6.single-item2
                        a(href='#')
                            img(src='img/logo-slider/2.png')
                    .col-md-2.col-xs-6.single-item2
                        a(href='#')
                            img(src='img/logo-slider/2.png')
                    .col-md-2.col-xs-6.single-item2
                        a(href='#')
                            img(src='img/logo-slider/2.png')
                    .col-md-2.col-xs-6.single-item2
                        a(href='#')
                            img(src='img/logo-slider/2.png')
                    .col-md-2.col-xs-6.single-item2
                        a(href='#')
                            img(src='img/logo-slider/2.png')
                    .col-md-2.col-xs-6.single-item2
                        a(href='#')
                            img(src='img/logo-slider/2.png')
                    .col-md-2.col-xs-6.single-item2
                        a(href='#')
                            img(src='img/logo-slider/2.png')
                    .col-md-2.col-xs-6.single-item2
                        a(href='#')
                            img(src='img/logo-slider/2.png')
                    .col-md-2.col-xs-6.single-item2
                        a(href='#')
                            img(src='img/logo-slider/2.png')
            hr.space-top
            footer.footer
                span
                    | Copyright &copy; 2016
                    a(href='http://satang.com/', target='_blank') Satang
                    |  all rights reserved.
            #toTop
                i.fa.fa-chevron-up
        script(src='js/vendor/jquery-1.11.3.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/ajax-mail.js')
        script(src='js/plugins.js')
        script(src='js/main.js')
