doctype html
html.no-js(lang='zxx')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Apptech
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', type='image/x-icon', href='img/favicon.ico')
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(rel='stylesheet', href='css/material-design-iconic-font.min.css')
        link(rel='stylesheet', href='css/magnific-popup.css')
        link(rel='stylesheet', href='css/venobox.css')
        link(rel='stylesheet', href='css/meanmenu.min.css')
        link(rel='stylesheet', href='css/slick.css')
        link(rel='stylesheet', href='css/owl.carousel.css')
        link(rel='stylesheet', href='css/owl.theme.css')
        link(rel='stylesheet', href='css/owl.transitions.css')
        link(rel='stylesheet', href='css/animate.css')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='css/responsive.css')
        link(rel='stylesheet', href='css/color/color-1.css')
        script(src='js/vendor/modernizr-2.8.3.min.js')
    body
        //if lt IE 8
          p.browserupgrade
            | You are using an
            strong outdated
            |  browser. Please
            a(href='http://browsehappy.com/') upgrade your browser
            |  to improve your experience.
        .wrapper
            header.header-area
                #main-menu.sticker
                    .container
                        .row
                            .col-md-12
                                .logo.float-left
                                    a(href='index.html')
                                        img(src='img/logo/logo.png', alt='logo')
                                .main-menu.float-right
                                    nav
                                        ul
                                            li
                                                a(href='#') 1 BTC = $1,147.93
                                            li.active
                                                a(href='#home-area') HOME
                                            li
                                                a(href='#product-area') Product
                                            li
                                                a(href='#signup-area') Sign Up
                                            li
                                                a(href='#') Sign In
                                            li
                                                a(href='#')
                                                    img(src='img/th.png')
                            .col-md-12.col-sm-12.hidden-lg.hidden-md
                                .mobile-menu
                                    nav
                                        ul
                                            li
                                                a(href='#') 1 BTC = $1,147.93
                                            li.active
                                                a(href='#home-area') HOME
                                            li
                                                a(href='#about-area') Product
                                            li
                                                a(href='#support-area') Sign Up
                                            li
                                                a(href='#pricing-area') Sign In
                                            li
                                                a(href='#')
                                                    img(src='img/th.png')
            #home-area.height-600.bg-oapcity-40.bg-overly.sm-height-none
                .table
                    .table-cell
                        .container
                            .row
                                .home-slider.clearfix
                                    .col-md-7.col-sm-8
                                        .top-text.pt-60
                                            .slider-text
                                                h1 ACCEPT BITCOIN
                                                h1 PAYMENTS
                                                p
                                                    | When your business makes a sale, you can instantly sell the bitcoin received to Coinbase to avoid exposure to bitcoin volatility.
                                                |
                                                a.btn.btn-default.btn-lg(href='#') Get Started
                                    .col-md-5.col-sm-6.hidden-xs.hidden-sm
                                        img(src='https://www.coinbase.com/assets/merchant/merchant-expedia-06ce61e3e75ba103d4083ebe369c09aa1d41a00572885b2f534cf3138894124c.png', alt='')
                                        p
                                            | Expedia powers bitcoin hotel reservations with Coinbase.
                                            br
                                            a(style='color: white', href='https://blog.coinbase.com/expedia-com-partners-with-coinbase-for-hotel-payments-via-bitcoin-cb6b8836e3e3', target='_blank') More &rsaquo;
            #nav.subnav
                ul.nav
                    li
                        a.nav-overview(href='/merchants') Overview
                    li
                        a.nav-clients(href='/clients') Customers
                    li
                        a(href='https://developers.coinbase.com/docs/merchants') API Documentation
            .icon-slider-area.ptb-110
                .container
                    .feature-title.title-style.title-pb.text-center
                        h1 TRUSTED BY OVER 45,000 BUSINESSES
                    .row
                        .item_all.indicator-style3
                            .col-md-12.single-item2
                                a(href='#')
                                    img(src='img/logo-slider/2.png', alt='')
                            .col-md-12.single-item2
                                a(href='#')
                                    img(src='img/logo-slider/3.png', alt='')
                            .col-md-12.single-item2
                                a(href='#')
                                    img(src='img/logo-slider/4.png', alt='')
                            .col-md-12.single-item2
                                a(href='#')
                                    img(src='img/logo-slider/5.png', alt='')
                            .col-md-12.single-item2
                                a(href='#')
                                    img(src='img/logo-slider/2.png', alt='')
                            .col-md-12.single-item2
                                a(href='#')
                                    img(src='img/logo-slider/3.png', alt='')
                            .col-md-12.single-item2
                                a(href='#')
                                    img(src='img/logo-slider/4.png', alt='')
                            .col-md-12.single-item2
                                a(href='#')
                                    img(src='img/logo-slider/5.png', alt='')
                    p.see-more.text-center
                        a(href='#') See More &raquo;
            hr
            #service-area
                .pt-100.pb-120
                    .container
                        .col-md-12.text-center
                            .feature-title.title-style.title-pb
                                h1 Expand Your Customer Base Globally
                                p Merchants can accept bitcoin payments worldwide
                        .row.text-center
                            .col-sm-12.col-md-4
                                .single-item.res-sm.text-center
                                    .single-item-icon
                                        i.zmdi.zmdi-settings
                                    h4.ht-pt Easy To Customize
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipising elit. Pellentesque vel volutpat felis, eu condimtum ma Pellentesque mollis eros vel.
                            .col-sm-12.col-md-4
                                .single-item.res-sm.res-xs.text-center
                                    .single-item-icon
                                        i.zmdi.zmdi-favorite
                                    h4.ht-pt User Friendly
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipising elit. Pellentesque vel volutpat felis, eu condimtum ma Pellentesque mollis eros vel.
                            .col-sm-12.col-md-4
                                .single-item.text-center
                                    .single-item-icon
                                        i.zmdi.zmdi-time
                                    h4.ht-pt 24/7 Support
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipising elit. Pellentesque vel volutpat felis, eu condimtum ma Pellentesque mollis eros vel.
            #product-area.all-about.gray-bg
                .container
                    .row
                        .home-slider2.clearfix
                            .col-md-7.col-sm-6
                                .about-bottom-left.clearfix.pt-120
                                    h1
                                        | about
                                        span Apptech
                                    h3 Lorem ipsum dolor sit amet
                                    p.about-pb
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet dolor libero, eget venenatis mauris finibus dictum. Vestibulum quis elit eget neque porttitor congue non sit amet dolor. Proin pretium purus a lorem ornare
                                    p
                                        | sed lobortis pulvinar. Integer laoreet mi id eros porta euismod. Suspendisse potenti. Nulla eros mauris, convallis et sem tempus, viverra hendrerit sapien
                            .col-md-5.col-sm-6
                                .about-bottom-img
                                    img(src='https://www.coinbase.com/assets/merchant/tools-38af5e83adbbcf5625e9c992402117128854d575d1db21d3925a8a8df09d0c8f.png', alt='')
            #review-area.ptb-120
                .container
                    .row
                        .col-md-12.text-center
                            .title-style.title-pb4
                                h1 CUSTOMER SUCCESS STORIES
                        .col-md-8.col-md-offset-2
                            .slider-2
                                .single-team.text-center
                                    .team-image
                                        img(src='img/testimonial/1.png', alt='')
                                    .team-details
                                        h3 Sathi Bhuiyan
                                        .team-social.fix
                                            p
                                                | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look.
                                        .reating-icon
                                            i.zmdi.zmdi-star
                                            i.zmdi.zmdi-star
                                            i.zmdi.zmdi-star
                                            i.zmdi.zmdi-star
                                            i.zmdi.zmdi-star-half
                                .single-team.text-center
                                    .team-image
                                        img(src='img/testimonial/1.png', alt='')
                                    .team-details
                                        h3 Sathi Bhuiyan
                                        .team-social.fix
                                            p
                                                | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look.
                                        .reating-icon
                                            i.zmdi.zmdi-star
                                            i.zmdi.zmdi-star
                                            i.zmdi.zmdi-star
                                            i.zmdi.zmdi-star
                                            i.zmdi.zmdi-star-half
            #signup-area.contact-area.gray-bg.pt-120
                .container
                    .row
                        .col-md-12.text-center
                            .title-style.title-pb
                                h1 Sign Up
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor. Aliquam
                        .col-md-offset-2.col-md-8.text-center
                            .contact-from
                                form#contact-form(action='mail.php', method='post')
                                    .row
                                        .col-md-6
                                            input(name='name', type='text', placeholder='FirstName')
                                        .col-md-6
                                            input(name='name', type='text', placeholder='Lastname')
                                    |
                                    input(name='email', type='text', placeholder='Email')
                                    |
                                    input(name='pass', type='password', placeholder='Password')
                                    |
                                    input(name='pass', type='password', placeholder='Re-Password')
                                    |
                                    input.submit(type='submit', value='Sign Up')
                                p.form-messege
                    .row
                        .conatct-info.fix
                            .col-md-4.col-sm-4.text-center
                                .single-contact-info
                                    .contact-icon
                                        i.zmdi.zmdi-phone
                                    .contact-text
                                        span
                                            | +012 345 678 102
                                            br
                                            |  +012 345 678 102
                            .col-md-4.col-sm-4.text-center
                                .single-contact-info.res-xs2
                                    .contact-icon
                                        i.zmdi.zmdi-globe-alt
                                    .contact-text
                                        span
                                            a(href='#') urname@email.com
                                            br
                                            |
                                            a(href='#') urwebsitenaem.com
                            .col-md-4.col-sm-4.text-center
                                .single-contact-info
                                    .contact-icon
                                        i.zmdi.zmdi-pin
                                    .contact-text
                                        span
                                            | ur address goes here,
                                            br
                                            |  street,Crossroad123.
            footer.footer-area.pt-120.pb-80
                .container
                    .col-md-12.text-center
                        .footer-all
                            .footer-logo
                                a(href='#')
                                    img(src='img/logo/2.png', alt='')
                            .footer-icon
                                ul
                                    li
                                        a(href='#')
                                            i.zmdi.zmdi-facebook
                                    li
                                        a(href='#')
                                            i.zmdi.zmdi-twitter
                                    li
                                        a(href='#')
                                            i.zmdi.zmdi-google-plus
                                    li
                                        a(href='#')
                                            i.zmdi.zmdi-pinterest
                                    li
                                        a(href='#')
                                            i.zmdi.zmdi-linkedin
                            .footer-text
                                span
                                    | Copyright &copy; 2016
                                    a(href='http://bootexperts.com/', target='_blank') Bootexperts
                                    |  all rights reserved.
            #toTop
                i.fa.fa-chevron-up
        script(src='js/vendor/jquery-1.11.3.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/ajax-mail.js')
        script(src='js/plugins.js')
        script(src='js/main.js')
