doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Apptech
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', type='image/x-icon', href='img/favicon.ico')
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(rel='stylesheet', href='css/material-design-iconic-font.min.css')
        link(rel='stylesheet', href='css/magnific-popup.css')
        link(rel='stylesheet', href='css/venobox.css')
        link(rel='stylesheet', href='css/meanmenu.min.css')
        link(rel='stylesheet', href='css/slick.css')
        link(rel='stylesheet', href='css/owl.carousel.css')
        link(rel='stylesheet', href='css/owl.theme.css')
        link(rel='stylesheet', href='css/owl.transitions.css')
        link(rel='stylesheet', href='css/animate.css')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='css/responsive.css')
        link(rel='stylesheet', href='css/color/color-1.css')
        script(src='js/vendor/modernizr-2.8.3.min.js')
    body
        //if lt IE 8
          p.browserupgrade
            | You are using an
            strong outdated
            |  browser. Please
            a(href='http://browsehappy.com/') upgrade your browser
            |  to improve your experience.
        .wrapper
            header.header-area
                #main-menu.sticker
                    .container
                        .row
                            .col-md-12
                                .logo.float-left
                                    a(href='index.html')
                                        img(src='img/logo/logo.png', alt='logo')
                                .main-menu.float-right
                                    nav
                                        ul
                                            li
                                                a(href='#') 1 BTC = $1,147.93
                                            li.active
                                                a(href='#home-area') HOME
                                            li
                                                a(href='#product-area') Product
                                            li
                                                a(href='#signup-area') Sign Up
                                            li
                                                a(href='#') Sign In
                                            li
                                                a(href='#')
                                                    img(src='img/th.png')
                            .col-md-12.col-sm-12.hidden-lg.hidden-md
                                .mobile-menu
                                    nav
                                        ul
                                            li
                                                a(href='#') 1 BTC = $1,147.93
                                            li.active
                                                a(href='#home-area') HOME
                                            li
                                                a(href='#about-area') Product
                                            li
                                                a(href='#support-area') Sign Up
                                            li
                                                a(href='#pricing-area') Sign In
                                            li
                                                a(href='#')
                                                    img(src='img/th.png')
            #home-area.bg-oapcity-40.bg-overly.sm-height-none(style='height: 97px')
            .container.space-top
                .row
                    .col-md-3
                        a.thumbnail(href='#')
                            img(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTViMGRmNTZjNDcgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWIwZGY1NmM0NyI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI2MSIgeT0iOTQuNSI+MTcxeDE4MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==')
                        .row
                            .col-xs-4
                                a.thumbnail(href='#')
                                    img(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTViMGRmNTZjNDcgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWIwZGY1NmM0NyI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI2MSIgeT0iOTQuNSI+MTcxeDE4MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==')
                            .col-xs-4
                                a.thumbnail(href='#')
                                    img(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTViMGRmNTZjNDcgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWIwZGY1NmM0NyI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI2MSIgeT0iOTQuNSI+MTcxeDE4MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==')
                            .col-xs-4
                                a.thumbnail(href='#')
                                    img(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTViMGRmNTZjNDcgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWIwZGY1NmM0NyI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI2MSIgeT0iOTQuNSI+MTcxeDE4MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==')
                        .text-muted.text-center(style='margin-bottom: 50px')
                            em
                                | Satoshift Co., Ltd.,
                                br
                                |  Ladprao 26 1234 Rd. 10230
                                br
                                | Contact: +66909840204
                    .col-md-9
                        h3.cart-title Fine Tshirt
                        .rating
                            i.fa.fa-star(aria-hidden='true')
                            i.fa.fa-star(aria-hidden='true')
                            i.fa.fa-star(aria-hidden='true')
                            i.fa.fa-star(aria-hidden='true')
                            i.fa.fa-star.active(aria-hidden='true')
                        h2.cart-price &#x20B9;1.00
                        p.cart-description
                            | Razorpay provides an end-to-end online payments solution. We accept and validate Internet payments via Credit Card, Debit Card, Net-Banking and popular
                            .panel.panel-default.cart-pay
                                .panel-body
                                    .row
                                        .col-md-8
                                            form
                                                .form-group
                                                    label Name
                                                    |
                                                    input.form-control(type='text', placeholder='name')
                                                .form-group
                                                    label Address
                                                    textarea.form-control(placeholder='address')
                                                .form-group
                                                    label Tel
                                                    |
                                                    input.form-control(type='tel', placeholder='tel')
                                                .form-group
                                                    label Note
                                                    textarea.form-control(placeholder='note')
                                                div(style='margin-top: 30px')
                                                    button.btn.btn-primary(type='button') Pay with Razorpay
                                                    .text-muted(style='margin-top: 20px')
                                                        em
                                                            | *This is a real transaction, and the money will be auto-refunded to your account in 4-5 days.
        hr.space-top
        footer.footer
            span
                | Copyright &copy; 2016
                a(href='http://satang.com/', target='_blank') Satang
                |  all rights reserved.
        #toTop
            i.fa.fa-chevron-up
        script(src='js/vendor/jquery-1.11.3.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/ajax-mail.js')
        script(src='js/plugins.js')
        script(src='js/main.js')
